<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [req:%X{requestId:-none}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Project Logger -->
    <logger name="com.djmart" level="DEBUG" />

    <!-- HikariCP Logger -->
    <logger name="com.zaxxer.hikari" level="INFO" />
</configuration>
